<%= render 'shared/page_title', title: 'All recipes' %>

<% @recipes.each do |recipe| %>
    <div class="row">
        <div class="col-lg-2">
            <section>
                <p><h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1><%= recipe.chef.chefname %></p>
            </section>
        </div>
        
        <div class="col-lg-6 well">
        
            <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
            <p><%= recipe.summary%></p>
            <p>
                <span class="quiet">
                    <small><%= time_ago_in_words(recipe.created_at) %></small>
                </span>
            </p>
        </div>
        
        <div class="col-md-4">
            <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
        </div>
        
        
    </div>
    <hr/>
<% end %>