<%= render 'shared/page_title', title: @recipe.name %>
<br/><br/>
<h5>
<%= link_to "Return to recipes listing", recipes_path, class:"btn btn-sm btn-default"%>
<%= link_to "Back to chef", chef_path(@recipe.chef), class: "btn btn-sm btn-default" %>
<% if logged_in? and (@recipe.chef == current_user) || current_user.admin? %>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-sm btn-default" %>
<% end %>
<% if logged_in? and current_user.admin? %>
    <%= link_to "Delete recipe", @recipe, method: :delete, class: "btn btn-sm btn-default", data: {confirm: "Are you sure?"} %>
<% end %>
</h5>
<div class="row">
    <div class="col-md-4 pull-right center">
        <section>
                <p style="font-size: 100px"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
        </section>
        
        <p>
            <h5>
                Brought to you by: <%=@recipe.chef.chefname%>
            </h5>
        </p>
        
    </div>
    <div class="col-md-8">

        <h3><%=@recipe.summary%></h3>
        <div class="show_recipe">
            <%= image_tag(@recipe.picture.url,class:"gravatar") if @recipe.picture? %>
        </div>
        <div class="well">
            <% if @recipe.styles.any? %>
            <p>Styles: <%= render @recipe.styles %></p>
            <% end %>
            <% if @recipe.ingredients.any? %>
            <p>Ingredients: <%= render @recipe.ingredients %></p>
            <% end %>
            <p>
                <strong>Steps:</strong>
            </p>

            <%= simple_format(@recipe.description) %>
               
            <div class="pull-right">
                <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @recipe.thumbs_up_total %>
                <% end %>&nbsp&nbsp&nbsp&nbsp
                <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @recipe.thumbs_down_total %>
                <% end %>
            </div>
        </div>
    </div>
</div>