<!DOCTYPE html>
<html>
<head>
  <title>RecipesOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background-color:white>
  
  <%= render "layouts/navigation" %>
  
  <div style="background-size:100%;
              background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), 
					    url(https://download.unsplash.com/reserve/fPuLkQNXRUKI6HQ2cMPf_IMG_4761.jpg); 
					    height: 360px; width: 100%;">
    
    <div class="row" style="font-color:white margin-top: 60px;">
      <div class="col-md-12">
        <h1 style="position: absolute; 
                   top: 150px; 
                   left: 0; 
                   width: 100%;
                   font: bold 50px Helvetica; 
                   color: white;
                   text-shadow: 3px 3px black;" >
                  What do you want to eat today?
        </h1>
      </div>  
    </div>
    
    
    
  </div>
  <div class="container" style="margin-top:30px">
    <%= render "layouts/messages" %>
    <%= yield %>
  </div>

  <%=render "layouts/footer"%>
  
</body>
</html>
                                              